#option-container{
background-color: rgba(111, 238, 238, 0.717);
display:flex;
justify-content:space-evenly ;
}
button{
    background-color: rgba(71, 138, 220, 0.352);
}
#cat-btn{
background-color: aqua;
    border: 4px solid black;
    border-radius: 20%;  
    padding: 20px;
}

#dog-btn{
background-color: aqua;

  border: 4px solid black;  
  border-radius: 20%;  
  padding: 20px;
}
#fact-container{
margin-top:50px;
display: flex;
background-color: rgba(26, 165, 187, 0.194);
width:auto;
justify-content: center;
/* height:100px; */
}
img{
    /* height:auto;
    width: 200px; */
}