body{
    margin-left:20px ;
}
.chat{
    background-color: rgb(213, 246, 246);
    border-radius: 20px;
    display: inline-block;
    width: 480px;
}
.msg{
    background-color: rgb(193, 192, 190);
    font-style: italic;
    border-radius: 20px;
}
#edit-btn{
    border-radius: 20%;
    background-color: rgb(199, 224, 198);
}
.btns{
    display: flex;
    justify-content:space-evenly;
}